.contact_page_section {

    .phone_in_pzge {
        font-size: 28px;
        color: #4E9E79;
        margin-bottom: 20px;
        display: inline-block;
    }

    p{
        margin: 10px 0;
    }
}
